/**************************/
/******NAVIGATION BAR******/
/**************************/

nav {
    padding: 1em;
    background-color: rgb(39, 39, 39);
}

nav button {
    margin: 0 0 0 1em;
    padding: .5em 1em .5em 1em;

    width: 11em;
    border-radius: 50px;
}
nav button:hover {
    transition-duration: .4s;
    box-shadow: 0 0 1em aliceblue;
}

.logo {
    font-size: 20px;
    text-shadow: 0px 0px 15px black;
}

/****************/
/******MAIN******/
/****************/

body {
    background-color: rgb(52, 69, 83);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.App {
    color: rgb(206, 206, 206);
    
    padding: 0 0 2em 0;
    margin: 0;
}

h1 {
    text-align: center;
}

/******************/
/******BUTTON******/
/******************/

button {
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.btn-edit {
    background-color: rgb(78, 177, 131);
    color: aliceblue;

    padding: .5em 1em .5em 1em;
    margin: 0 1em 0 1em;
    width: 8em;
    border-radius: 50px;
}
.btn-edit:hover {
    transition-duration: .4s;

    background-color: aliceblue;
    color: black;
}

.btn-erase {
    background-color: rgb(238, 40, 40);
    color: aliceblue;

    padding: .5em 1em .5em 1em;
    width: 8em;
    border-radius: 50px;
}
.btn-erase:hover {
    transition-duration: .4s;

    background-color: aliceblue;
    color: black;
}

.btn-details {
    background-color: rgb(230, 166, 49);
    color: aliceblue;

    padding: .5em 1em .5em 1em;
    width: 8em;
    border-radius: 50px;
}
.btn-details:hover {
    transition-duration: .4s;

    background-color: aliceblue;
    color: black;
}

.btn-add {
    background-color: rgb(49, 230, 118);
    color: aliceblue;

    padding: .5em 1em .5em 1em;
    width: 8em;
    border-radius: 50px;
}
.btn-add:hover {
    transition-duration: .4s;

    background-color: aliceblue;
    color: black;
}

/**********************/
/******RESPONSIVE******/
/**********************/

/*MIN*/

@media all and (max-width:480px)
{
    html {
        width: 480px;
    }
}

@media all and (max-width:120px)
{
    html {
        width: 400px;
    }
}